node_modules
.next
dist
.turbo
*.log
.env
.env.*
!.env.example
.git
.github
.vercel
apps/web
packages/ui
packages/config/dist
packages/database/dist
packages/shared/dist
apps/api/dist
uploads
rootdirectory.png
